{
  "presets": [["@babel/env", { "targets": { "browsers": [ ">0.25%", "not dead", "not IE > 5", "not android < 5" ] }, "useBuiltIns": false, "modules": false }]],
  "plugins": [
    [ "@babel/plugin-proposal-decorators", { "version": "legacy" } ],
    [ "@babel/plugin-transform-runtime", { "corejs": 3 } ]
  ]
}
